env:
  SLACK_SOCKET_MODE: "true"
  SLACK_BOT_TOKEN: "tfy-secret://YOUR_USER_OR_TEAM:slack-secrets:SLACK_BOT_TOKEN"
  SLACK_APP_TOKEN: "tfy-secret://YOUR_USER_OR_TEAM:slack-secrets:SLACK_APP_TOKEN"
  SLACK_SIGNING_SECRET: "tfy-secret://YOUR_USER_OR_TEAM:slack-secrets:SLACK_SIGNING_SECRET"
  SLACK_ALLOWED_USERS: "tfy-secret://YOUR_USER_OR_TEAM:slack-secrets:SLACK_ALLOWED_USERS"
  SLACK_ALLOWED_CHANNELS: "tfy-secret://YOUR_USER_OR_TEAM:slack-secrets:SLACK_ALLOWED_CHANNELS"
  SLACK_REQUIRE_MENTION: "true"
  SLACK_STRICT_MENTION: "true"
  SLACK_FREE_RESPONSE_CHANNELS: ""
  SLACK_HOME_CHANNEL: ""
  SLACK_HOME_CHANNEL_NAME: ""
